APP_ENV=dev
MODEL_URL=s3://your-bucket/models/resnet50.onnx
MODEL_PATH=models/resnet50.onnx
# Model downloaded during the test stage (can be the same as MODEL_URL).
TEST_MODEL=s3://your-bucket/models/resnet50.onnx
TEST_IMAGE_URL=s3://onnx-bucket-test/test-data/test_img.jpg
TEST_IMAGE_PATH=data/test/test_img.jpg
PREDICTION_LOG_PATH=predictions_dev.txt
PREDICTION_BUCKET=your-s3-bucket-name
PREDICTION_BUCKET_KEY=predictions/predictions_dev.txt
MIN_CONFIDENCE=0.10
# Optional. ImageNet car classes are commonly around 436-511 depending on labels/model.
# EXPECTED_CLASS_IDS=436,468,475,511
